# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
$py.class

# Virtual environment
venv/

# Environment variables
.env

# Logs
/logs/

# MacOS
.DS_Store
venv/
__pycache__/
*.pyc
.DS_Store
env/
.env
secrets.json
